APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:0njTWYE1HA3wpkyXjVgCFAVXEgt4SFFY0eDeXlLnhrY=
APP_DEBUG=true
APP_URL=https://backend-repo-drr2.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ep-polished-mode-a1c73nb4-pooler.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=trading_db
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_V2ML0iukACNl

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

SANCTUM_STATEFUL_DOMAINS=https://frontend-repo-tau.vercel.app